<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정글 주접톤 - 로그인</title>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex h-screen">
    <!-- 왼쪽 이미지 영역 -->
    <div class="w-1/2 bg-gray-200 flex items-center justify-center">
        <div class="w-3/4 h-3/4 bg-gray-300 flex items-center justify-center">
            <img src="https://cdn.topstarnews.net/news/photo/first/201505/img_130592_1.jpg" alt="Login Image" class="w-full h-full object-cover">
        </div>
    </div>

    <!-- 오른쪽 로그인 영역 -->
    <div class="w-1/2 flex flex-col items-center justify-center">
        <h1 class="text-2xl font-bold mb-6">정글 주접톤</h1>
        <span class="mb-4">오늘의 주접이, 내일의 커밋으로!</span>

        <!-- Google 로그인 버튼 -->
        <button 
        class="w-64 flex items-center justify-center border border-blue-500 text-blue-500 rounded-lg px-4 py-2 mb-4 hover:bg-blue-100"
        onclick="window.location.href='/google'">
            <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google" class="w-5 h-5 mr-2">
            구글로 로그인
        </button>

        <!-- GitHub 로그인 버튼 -->
        <button 
        class="w-64 flex items-center justify-center border border-blue-500 text-blue-500 rounded-lg px-4 py-2 hover:bg-blue-100"
        onclick="window.location.href='/github'">
            <img src="https://www.svgrepo.com/show/512317/github-142.svg" alt="GitHub" class="w-5 h-5 mr-2">
            깃헙으로 로그인
        </button>

        <!-- 메인 페이지로 이동하는 버튼 -->
        <a href="/index" class="w-64 text-center text-gray-500 rounded-lg px-4 py-2 mt-4 hover:bg-gray-100">
            로그인 없이 구경하기
        </a>

    </div>
    <span>
</body>
</html>